*.jpg
*.png
*.ipynb
.ipynb_checkpoints
data
models
!models/LSTM.h5
!models/NN.h5
!models/PCA.h5
!models/SCALER.h5
*.txt
utils/__pycache__
resources/**
.idea
logs
.vscode
*.zip
*.exe
*.log
!.empty
__pycache__
!requirements.txt
__pycache__