*.jpg
*.png
*.ipynb
.ipynb_checkpoints
data
models
*.txt
utils/__pycache__
resources/**
.idea
logs
.vscode
*.zip
*.exe
*.log
!.empty
__pycache__
docs/**
!docs
!docs/build
!docs/build/html
!docs/build/html/**